@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Share Tech Mono', monospace;
    background: #333;
    color: #fff;
    line-height: 1.6;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.slide.current {
    opacity: 1;
}

.buttons button.next {
    position: absolute;
    top: 40%;
    right: 15px;
}

.buttons button.prev {
    position: absolute;
    top: 40%;
    left: 15px;
}

.buttons button {
    border: 2px solid rgb(212, 193, 193);
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 50%;
    transition: .2s;
    outline: none;
}

.buttons button:hover {
    background-color: rgb(212, 193, 193);
    color: rgb(46, 43, 43);
}

.slide:first-child {
    background: url("img/Warp-vessel.jpg") no-repeat center top/cover;
}

.slide:nth-child(2) {
    background: url("img/Exploring-galaxies.jpg") no-repeat center top/cover;
}

.slide:nth-child(3) {
    background: url("img/Comfortable-hibernation.jpg") no-repeat center top/cover;
}

.slide:nth-child(4) {
    background: url("img/Colony.jpg") no-repeat center top/cover;
}

.slide .content h1 {
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(54, 52, 52);
}

.slide .content {
    position: absolute;
    opacity: 0;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 35px;
}

.slide.current .content {
    opacity: 1;
    transition: all .6s ease-in-out 1.2s;
}

.slide:nth-child(1) .content {
    top: -140px;
    right: 140px;
}

.slide:nth-child(1) .content {
    transform: translateY(170px);

}

.slide:nth-child(2) .content {
    bottom: 150px;
    left: -600px;
}

.slide:nth-child(2) .content {
    transform: translateX(700px);
}

.slide:nth-child(3) .content {
    top: 100px;
    left: -600px;
}

.slide:nth-child(3) .content {
    transform: translateX(700px);
}

.slide:nth-child(4) .content {
    bottom: -500px;
    left: 50%;
}

.slide:nth-child(4) .content {
    transform: translateY(-600px)translateX(-50%);
}